body {
   background: linear-gradient(90deg, #141E30, #243B55);
   font-family: "Poppins", sans-serif;
   margin: 0;
   color: #141414;
}

p {
   font-size: 1.2rem ;
}

p, h1, h2, h3 {
   color: white;
}

h1, h2, h3, p {
   margin: 0px;
}

ul {
   margin: 0px;
   padding: 0px;
   list-style: none;
}

img{
   max-width: 100%;
   display: block;
}

a {
   text-decoration: none;
}